[submodule "Workshop"]
	path = Workshop
	url = git@gitee.com:spharx/workshop.git
[submodule "Deepness"]
	path = Deepness
	url = git@gitee.com:spharx/deepness.git
[submodule "Benchmark"]
	path = Benchmark
	url = git@gitee.com:spharx/benchmark.git
[submodule "AgentOS"]
	path = AgentOS
	url = git@gitee.com:spharx/agentos.git